/***BLUE: #8dc8ea
YELLOW #fede18**/

body{
  color:#648b9f
  display: block;
  background-color: #beeeff;
  margin: 0px 50px 0 50px;
  font-family: 'Work Sans', sans-serif;
  height: 100%;
  min-height: 100%;
}
.index{
  background-color: #fede18;
}
html{
    height: 100%;
    position: relative;
    min-height: 100%;
    font-family: 'Work Sans', sans-serif;

  }

header{
  max-width: 100%;
  padding-right: 5vw;
  padding-left: 5vw;
  display: flex;
  justify-content: center;
  background-color: #beeeff;

}

.home{
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
}

h3{
  font-size: 18px;
  margin: 1rem 0;
}

H1{
  margin: 1rem 0;
  font-weight: 800;
  font-size: 20px;
}

p{
  margin: 10px 0;
}

.navbar-toggler{
  border: none!important;
  color: #648b9f!important;
}

.navbar-nav .dropdown-menu{
    background-color: #beeeff!important;
    border: none;
  }

  .navLogo{
    height: 70px;

  }

li a{
  color: #648b9f!important;
  padding-left: 20px!important;
  font-weight: 800;
}

li a:hover{
  color: #434242!important;

}

li.active a{
  color: #434242!important;
}

.bg-light{
  background-color: #beeeff!important;
}

.dropdown-item{
  background-color: #beeeff!important;
}

.main-containter{
max-width: 100%;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
height: 100%;

}

.about-main-containter{
  width: 100%;
  min-height: calc(100vh - 100px);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.center{
  text-align: center;
  align-items: center;
}

a{
color: #648b9f!important;
}

button{
  display: block;
  border-radius: 0;
  border: none;
  margin-top: 20px;
  color: #648b9f!important;
  background-color: #beeeff;
}

.main-containter img{
  height: 400px;
  margin: 0px auto;
}

img{
  height: 400px;
}

H5{
  font-size: 10px;
}
footer{
  display: flex;
   height: 50px;
   width: 100%;
   justify-content: space-between;
   flex-direction: ROW;

}

.smallLogo{
  height: 100px;
  margin-top: 50px;
}

/*MOBILE VIEW***********************/

@media screen and (max-width: 1056px) {

footer{
    justify-content: flex-start;
    flex-direction: column;
    align-items: left!important;
    margin: 50px 0;
}
